<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125513438179-2gs6molv4juv56bb9ean1ko7qdgl4sb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125513438179-2gs6molv4juv56bb9ean1ko7qdgl4sb0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>125513438179-dp6gqqsds6npgmrhmrkm4mpj0lsmop1h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhgISDoZyCFYTrojieUm5fWoyFZjwWdfE</string>
	<key>GCM_SENDER_ID</key>
	<string>125513438179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devstree.rnreduxdemo</string>
	<key>PROJECT_ID</key>
	<string>rnreduxdeeplinkdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>rnreduxdeeplinkdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125513438179:ios:337a08cced9490f72786d6</string>
</dict>
</plist>